@font-face {
  font-family: "RobotoMono";
  src: url("/portfolio/fonts/RobotoMono-VariableFont_wght.woff2")
    format("woff2");
}

@font-face {
  font-family: "RedHatText";
  src: url("/portfolio/fonts/RedHatText-VariableFont_wght.woff2")
    format("woff2");
}

:root {
  --bg-light: rgb(220, 220, 220);
  --bg-dark: rgb(15, 15, 15);
  --background-color: var(--bg-light);
  --text-light: rgb(180, 180, 180);
  --text-dark: rgb(15, 15, 15);
  --text-color: var(--text-dark);

  --font-sans: "RobotoMono", system-ui, -apple-system, sans-serif;
  --font-mono: "JetBrainsMono", "SFMono-Regular", monospace;

  --step--1: clamp(0.79rem, 0.76rem + 0.13vw, 0.89rem); /* small UI */
  --step-0: clamp(0.97rem, 0.94rem + 0.18vw, 1.13rem); /* body */
  --step-1: clamp(1.25rem, 1.2rem + 0.25vw, 1.44rem); /* h5 */
  --step-2: clamp(1.56rem, 1.5rem + 0.31vw, 1.8rem); /* h4 */
  --step-3: clamp(1.95rem, 1.88rem + 0.39vw, 2.25rem); /* h3 */
  --step-4: clamp(2.44rem, 2.35rem + 0.49vw, 2.81rem); /* h2 */
  --step-5: clamp(3.05rem, 2.94rem + 0.61vw, 3.52rem); /* h1 */

  --space-s: 0.5rem;
  --space-m: 1rem;
  --space-l: 2rem;
}

* {
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  margin: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--font-sans);
  font-size: var(--step-0);
  line-height: 1.5;
  text-align: left;
  word-wrap: break-word;
  overflow-wrap: break-word;
  min-width: 100dvw;
  min-height: 100dvh;
}

h1 {
  font-size: var(--step-5);
  line-height: 1.15;
  margin-bottom: var(--space-m);
}
h2 {
  font-size: var(--step-4);
  line-height: 1.2;
  margin-top: var(--space-l);
  margin-bottom: var(--space-s);
}
h3 {
  font-size: var(--step-3);
  line-height: 1.25;
  margin-top: var(--space-l);
  margin-bottom: var(--space-s);
}
h4 {
  font-size: var(--step-2);
  line-height: 1.3;
  margin-top: var(--space-m);
  margin-bottom: var(--space-s);
}
h5,
h6 {
  font-size: var(--step-1);
  line-height: 1.35;
  margin-top: var(--space-m);
  margin-bottom: var(--space-s);
}

strong,
b {
  font-weight: 700;
}

p,
ul,
ol {
  margin-bottom: var(--space-m);
  max-width: 60ch;
}

a {
  position: relative;
  width: fit-content;
  color: var(--text-color);
  text-decoration: none;
  font-family: "RedHatText";
  letter-spacing: 3px;
  font-weight: 500;
}

a::before {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 0;
  transition: width 0.2s ease-in-out;
  will-change: width;
  height: 1px;
  background-color: var(--text-color);
}

a::after {
  --size: 4px;
  position: absolute;
  content: "";
  bottom: calc((var(--size) / 2) * -1);
  right: -10%;
  transform: rotate(45deg);
  border-top: 1px solid;
  border-right: 1px solid;
  width: var(--size);
  height: var(--size);
  opacity: 0;
  will-change: opacity;
}

a:hover::before {
  width: 110%;
}

a:hover::after {
  opacity: 1;
  transition: opacity 0.2s ease-in-out 0.2s;
}

.sr-only {
  border: 0;
  padding: 0;
  margin: 0;
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  /* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
  clip: rect(1px 1px 1px 1px);
  /* maybe deprecated but we need to support legacy browsers */
  clip: rect(1px, 1px, 1px, 1px);
  /* modern browsers, clip-path works inwards from each corner */
  clip-path: inset(50%);
  /* added line to stop words getting smushed together (as they go onto separate lines and some screen readers do not understand line feeds as a space */
  white-space: nowrap;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: var(--bg-dark);
    --text-color: var(--text-light);
  }
}
