:root {
  --border-radius: 0.25em;
}

figure {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

figure > img,
figure > video {
  width: 100%;
  border-radius: var(--border-radius);
  overflow: hidden;
  pointer-events: none;
}

:root[data-theme="light"] figure > img,
:root[data-theme="light"] figure > video {
  filter: drop-shadow(4px 4px 8px rgba(0, 0, 0, 0.5));
}

figcaption {
  position: relative;
  font-size: 0.8em;
  opacity: 0.75;
  padding-left: 2ch;
}

figcaption::before {
  position: absolute;
  inset: 0;
  width: 2ch;
  content: "\2303";
}

.shirnk-layout {
  margin-block: 25%;
}

h1 {
  color: color-mix(in oklab, var(--text-accent) 65%, var(--text-color));
  margin-bottom: 0.25em;
}

h2 {
  margin-top: 3em;
  font-size: clamp(1.5rem, 4vw, 2.5rem);
}

h3 {
  margin-top: 1.5em;
  font-size: clamp(1.2rem, 2.5vw, 1.5rem);
}

p,
li {
  font-size: 0.95em;
  max-width: 100%;
}

p:has(+ ul) {
  margin-bottom: var(--space-xs);
}

blockquote {
  position: relative;
  border-radius: var(--border-radius);
  background: linear-gradient(
    to right,
    color-mix(in oklab, var(--text-accent) 20%, var(--background-color)),
    transparent
  );
  padding: 1em;
  margin-block: 0.75em;
}

blockquote::before {
  display: none;
}

blockquote[data-type="frame"] {
  background: none;
  border: 1px solid;
  border-color: rgba(var(--text-raw), 0.25);
}

blockquote p:last-of-type {
  margin: 0;
}

.highlight {
  filter: saturate(1.5);
}

pre {
  position: relative;
  border-radius: var(--border-radius);
  padding: 1.5em 1em;
  margin-bottom: 1.5em;
}

pre:is([data-language="plaintext"], [data-language="text"]) code {
  color: rgb(var(--text-light));
}

pre code {
  white-space: pre;
  padding: 0;
  background: transparent;
}

pre::after {
  position: absolute;
  top: 0.4em;
  right: 0.6em;
  content: attr(data-language);
  font-size: 0.7em;
  font-family: var(--font-sans);
  background: color-mix(in oklab, var(--accent-bamboo) 20%, transparent);
  color: white;
  padding: 0.1em 0.5em;
  border-radius: 0.25em;
  opacity: 0.8;
}

ul:has(+ p) {
  margin-bottom: var(--space-s);
}

ul,
ol {
  display: flex;
  flex-direction: column;
  gap: 0.25em;
}

li > ul,
li > ol {
  margin-bottom: 0.25em;
}

li p {
  margin: 0;
}

a {
  --intensity: 65%;
}

:root[data-theme="light"] a {
  --intensity: 85%;
}

.lg-small {
  margin: 0 15%;
}

@media screen and (max-width: 480px) {
  .lg-small {
    margin: 0;
  }
}
